@page "/profile"

@if (IsLoading) {
    <p><em>Cargando...</em></p>
}
else {
    <AuthorizeView>
        <Authorized>
            <h3 class="title-welcome text-center">Mi perfil</h3>
            <div class="container mt-5">
                <div class="main-body">
                    <div class="row gutters-sm">
                        <div class="col-md-4 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex flex-column align-items-center text-center">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="rounded-circle" width="150">
                                        <div class="mt-3">
                                            <h4>@LoggedInUser.Username</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Nombre</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            @LoggedInUser.FullName
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Email</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            @LoggedInUser.Email
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Rol</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            @LoggedInUser.RoleName
                                        </div>
                                    </div>
                                    @*<hr />
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Fecha registro</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            25/02/2021
                                        </div>
                                    </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title-welcome text-center mt-2">
                    <a href="products?myfavs=true" class="btn btn-warning">Ir a mis favoritos</a>
                </div>
            </div>
        </Authorized>
        <NotAuthorized>

        </NotAuthorized>
    </AuthorizeView>
}