@page "/categories"

<div class="container-fluid">
    <h3 class="title-welcome text-center">Categorías</h3>
    <div class="container-fluid align-items-center" style="margin:3rem; padding-top:3rem; border:10px;">
        <div class="row">
            <div class="col-sm-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card shadow" style="width: 15rem;">
                                <div class="carousel-inner" style="padding:1rem">
                                    <img src="/image/motorola.jpg" class="d-block w-100" style="width: 10rem; height:10rem;" alt="...">
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title">Celulares</h5>
                                    <p class="card-text">Ver Reseñas de Celulares</p>
                                    <a href="/category/3" class="btn btn-primary">Ver Celulares</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card shadow" style="width: 15rem; ">
                                <div class="carousel-inner" style="padding:1rem">
                                    <img src="/image/lap.png" class="d-block w-100" style="width: 10rem; height:10rem;" alt="...">
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title">Laptops</h5>
                                    <p class="card-text">Ver Reseñas de Laptops</p>
                                    <a href="/category/1" class="btn btn-primary">Ver Laptops</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card shadow" style="width: 15rem;">
                                <div class="carousel-inner" style="padding:1rem">
                                    <img src="/image/tv.png" class="d-block w-100" style="width: 10rem; height:10rem;" alt="...">
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title">Televisión</h5>
                                    <p class="card-text">Ver Reseñas de Televisión</p>
                                    <a href="/category/2" class="btn btn-primary">Ver Televisiones</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>