@page
@model Elecritic.Pages.CategoriasModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Categorias</title>
</head>
<body>
</body>
</html>
