@page "/categorias"

<h3 class="position-absolute">Categorías</h3>

<!--<a href="">CELULARES</a>-->
<div class="container" style="margin:3rem; ">
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 10rem;height:10rem; margin-right:1rem;">
                <img src="/image/motorola.jpg" class="d-block w-100" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Celulares</h5>
                    <p class="card-text">Ver Reseñas de Celulares</p>
                    <a href="" class="btn btn-dark">Ver Celulares</a>
                </div>
            </div>
        </div>
        <!----<br />
    <a href="">LAPTOPS</a>-->
        <div class="col-sm-4">
            <div class="card" style="width: 10rem; height:10rem;">
                <img src="/image/lap.png" class="d-block w-100" style="width: 10rem; height:10rem;" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Laptops</h5>
                    <p class="card-text">Ver Reseñas de Laptops</p>
                    <a href="" class="btn btn-dark">Ver Laptops</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 10rem; height:10rem;">
                <img src="/image/tv.png" class="d-block w-100" style="width: 10rem; height:10rem; background-size:auto" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Televisión</h5>
                    <p class="card-text">Ver Reseñas de Televisión</p>
                    <a href="" class="btn btn-dark">Ver Televisión</a>
                </div>
            </div>
        </div>
    </div>
    

</div>

<!--<br />
<a href="">TELEVISIONES</a>-->

@code {

}
