@page "/contributors"
<h3>Contributors</h3>

<div class="media pt-3">
    <img src="/image/profile/neto.jpg" style="height: 75px; width: 75px;" class="rounded-circle">
    <div class="media-body pl-3">
        <h5 class="mt-0">netotz</h5>
        <span class="badge badge-pill badge-dark">Java</span>
        <span class="badge badge-pill badge-dark">Python</span>
        <span class="badge badge-pill badge-dark">C#</span> <br>
        <a href="https://github.com/netotz">Perfil</a>
    </div>
</div>

<div class="media pt-3">
    <img src="/image/profile/brana.jpg" style="height: 75px; width: 75px;" class="rounded-circle">
    <div class="media-body pl-3">
        <h5 class="mt-0">DiegoBR21</h5>
        <span class="badge badge-pill badge-dark">Java</span>
        <span class="badge badge-pill badge-dark">Python</span>
        <span class="badge badge-pill badge-dark">C#</span> <br>
        <a href="https://github.com/Diegobr21">Perfil</a>
    </div>
</div>

<div class="media pt-3">
    <img src="/image/profile/danyboy.jpg" style="height: 75px; width: 75px;" class="rounded-circle">
    <div class="media-body pl-3">
        <h5 class="mt-0">DanielFL0</h5>
        <span class="badge badge-pill badge-dark">Python</span> <br>
        <a href="https://github.com/DanielFL0">Perfil</a>
    </div>
</div>

<div class="media pt-3">
    <img src="/image/profile/robbie.png" style="height: 75px; width: 75px;" class="rounded-circle">
    <div class="media-body pl-3">
        <h5 class="mt-0">Robertudo</h5>
        <span class="badge badge-pill badge-dark">Python</span>
        <span class="badge badge-pill badge-dark">C#</span> <br>
        <a href="https://github.com/Robertudo">Perfil</a>
    </div>
</div>

<div class="media pt-3">
    <img src="/image/profile/milton.jpg" style="height: 75px; width: 75px;" class="rounded-circle">
    <div class="media-body pl-3">
        <h5 class="mt-0">MiltonRdzP</h5>
        <span class="badge badge-pill badge-dark">Java</span>
        <span class="badge badge-pill badge-dark">C#</span> <br>
        <a href="https://github.com/MiltonRdzP">Perfil</a>
    </div>
</div>

<div class="media pt-3">
    <img src="/image/profile/country.jpg" style="height: 75px; width: 75px;" class="rounded-circle">
    <div class="media-body pl-3">
        <h5 class="mt-0">danielcont</h5>
        <span class="badge badge-pill badge-dark">Java</span>
        <span class="badge badge-pill badge-dark">C#</span> <br>
        <a href="https://github.com/danielcont">Perfil</a>
    </div>
</div>

<div class="media pt-3">
    <img src="/image/profile/ricky.png" style="height: 75px; width: 75px;" class="rounded-circle">
    <div class="media-body pl-3">
        <h5 class="mt-0">ricardobalbuena11</h5>
        <span class="badge badge-pill badge-dark">Javascript</span><br>
        <span class="badge badge-pill badge-dark">Python</span>
        <a href="https://github.com/ricardobalbuena11">Perfil</a>
    </div>
</div>
