@page "/"
<div class="title-welcome" style="padding-top:40px; padding-bottom:20px;">
    <center><h2>Bienvenido a una nueva experiencia de reseñas sobre productos electrónicos</h2></center>
</div>

<br />

<AuthorizeView>
    <Authorized>
        @if (RecommendedProducts is null) {
            <p class="text-center" style="padding-top:10px;"><span class="spinner-grow text-dark"></span><em>Cargando recomendados...</em></p>
        }
        else if (RecommendedProducts.Count > 0) {
            <h3 style="text-align:center; padding-top:20px;"> Recomendados para ti</h3>
            <br />
            <!-- Section row // Horizontal Cards-->
            <div class="container">
                <div class="horizontal-row">
                    @foreach (var product in RecommendedProducts) {
                        <ProductCard Product=product></ProductCard>

                    }
                </div>
            </div>
        }
    </Authorized>
    <NotAuthorized>
        <h3 style="text-align:center; padding-top:20px;">Comienza a elegir tus productos favoritos. Crea una cuenta aquí.</h3>
    </NotAuthorized>
</AuthorizeView>

<br />

@if (FavoriteProducts is null) {
    <p class="text-center" style="padding-top:10px;"><span class="spinner-grow text-dark"></span><em>Cargando favoritos...</em></p>
}
else if (FavoriteProducts.Count > 0) {
    <h3 style="text-align:center;"> Favoritos de otros usuarios</h3>
    <br />
    <!-- Section row // Horizontal Cards // Favoritos de otros usuarios-->
    <div class="container">
        <div class="horizontal-row">
            @foreach (var product in FavoriteProducts) {
                <ProductCard Product=product></ProductCard>
            }
        </div>
    </div>
}

<br />

@if (PopularProducts is null) {
    <p class="text-center" style="padding-top:10px;"><span class="spinner-grow text-dark"></span><em>Cargando populares...</em></p>
}
else if (PopularProducts.Count > 0) {
    <h3 style="text-align:center;"> Lo más popular</h3>
    <br />
    <!-- Vertical Cards-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container-fluid">
                                <div class="row">
                                    @foreach (var product in PopularProducts) {
                                        <ProductCard Product=product></ProductCard>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<footer class="text-center text-lg-start">
    <div class="container-fluid text-center p-3" style="background-color:rgba(0,0,0,0.2)">
        <a href="https://github.com/binary-hideout/elecritic" class="text-dark" target="_blank"><h4>Nuestro Github</h4></a>
    </div>
</footer>