@page "/login"
@inject NavigationManager navigationManager
@using Elecritic.Models

<div class="middle-box">
    <div class="row">
        <div class="col-12">
            <h2>Login to your account</h2>
            <EditForm Model="model" OnValidSubmit="LoginUser">
                <RadzenCard>
                    @*<AlertMessage Message="@message" MessageType="@messageType" />*@
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <label>Email</label>
                    <RadzenTextBox @bind-Value="model.Email"></RadzenTextBox>

                    <label>Password</label>
                    <RadzenPassword @bind-Value="model.Password"></RadzenPassword>

                    <hr />
                    <RadzenButton ButtonType="Radzen.ButtonType.Submit" Text="Login"
                                  ButtonStyle="Radzen.ButtonStyle.Primary" class="btn-block mr-2" />
                    <RadzenButton ButtonType="Radzen.ButtonType.Button" Text="Register"
                                  ButtonStyle="Radzen.ButtonStyle.Secondary" class="btn-block mr-2" Click="GoToRegister" />
                </RadzenCard>
            </EditForm>
        </div>
    </div>
</div>