@page "/logout"

<h3>Logout</h3>

<AuthorizeView>
    <Authorized>
        <button @onclick="async() => await LogOutUser()">Cerrar sesión</button>

        <p>@ResultMessage</p>
    </Authorized>
    <NotAuthorized>
        <h3>No ninguna sesión iniciada.</h3>
    </NotAuthorized>
</AuthorizeView>