@page "/logout"

<h3>Cerrar sesión</h3>

<AuthorizeView>
    <Authorized>
        <p><b>@LoggedInUser.Username</b></p>
        <button @onclick="async() => await LogOutUser()">Cerrar sesión</button>

        <p>@ResultMessage</p>
    </Authorized>
    <NotAuthorized>
        <h3>Ninguna sesión iniciada.</h3>
    </NotAuthorized>
</AuthorizeView>