@inherits LayoutComponentBase


<div class="sidebar">
    <NavMenu UserIsLogged =@UserLogged> </NavMenu>
</div>



<div class="main">

    <div class="top-row">
        <h1><a href="" style="color: #ffd700">Elecritic</a></h1>
        <NavLink href="https://github.com/binary-hideout/elecritic" class="p-2 text-light" target="_blank">Nuestro Github</NavLink>

    </div>

    <div class="content px-4">
        @Body
    </div>

</div>
