@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">

    <div class="top-row">
        <h1><a href="" style="color: #ffd700">Elecritic</a></h1>
        <NavLink href="/" class="p-2 text-light" target="_blank">Usuario</NavLink>

    </div>

    <div class="content px-4">
        @Body
    </div>

</div>
