@using Elecritic.Features.Products.Queries;

<div class="col-md-4" style=" margin-top:1rem;">
    <div class="card shadow" style="width: 15rem;">
        <div class="inner" style="padding:.5rem;">
            <img src=@Product.ImagePath class="d-block w-100" style="width: 10rem; height:10rem;" alt="imagenProducto">
        </div>
        <div class="card-body text-center">
            <h5 class="card-title">@Product.Name</h5>
            <p class="card-text"> @Product.Description</p>
            @if (Product.AverageRating > 0) {
                <p class="card-text"><img src="/vectors/star-fill.svg"> @Product.AverageRating.ToString("N1")</p>
            }
            else {
                <p class="card-text text-black-50 font-italic">Sin reseñas</p>
            }
            <a href="/product/@Product.Id" class="btn btn-primary">Ver reseñas</a>
        </div>
    </div>
</div>

@code{
    [Parameter]
    public List.ProductDto Product { get; set; }
}