@page "/products"

@using Elecritic.Features.Products.Components

@if (IsLoading) {
    <p><em>Cargando...</em></p>
}
else {
    @if (IsValidQuery) {
        @if (Products.Count > 0) {
            <VerticalProductCards Products="@Products" Title="@Title"/>
        }
        else {
            <h3>No hay productos por mostrar.</h3>
        }
    }
    else {
        <h3>@InvalidMessage</h3>
    }
}