@page "/products"

@using Elecritic.Features.Products.Components

@if (IsLoading) {
    <p><em>Cargando...</em></p>
}
else {
    @if (IsValidCategoryId) {
        <VerticalProductCards Products="@Products" />
    }
    else {
        <h3>@InvalidMessage</h3>
    }
}